[Desktop Entry]
Name=Postman
Comment=Build, test, and document your APIs faster
Path=/opt/postman
Exec=/opt/postman/Postman %U
Icon=postman
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;
StartupWMClass=postman
MimeType=x-scheme-handler/postman