[Desktop Entry]
Name=Postman
GenericName=API Client
Comment=Build, test, and document your APIs faster
Exec=postman %U
Icon=postman
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/postman;
StartupWMClass=Postman
StartupNotify=true