[Desktop Entry]
Name=Postman
GenericName=API Client
Comment=API platform for building and using APIs
Exec=postman %U
Icon=postman
Terminal=false
Type=Application
Categories=Development;Network;
StartupNotify=true
StartupWMClass=Postman
MimeType=x-scheme-handler/postman;